.settings {
  float: left;
  width: 20%;
}
.drives, .cloud {
  float: right;
  width: 70%;
}
.settings .help-inline {
  display: none;
}
.field-saveToCloud {
  float: right;
  width: 100%;
}
.field-saveToCloud label, .field-saveToCloud .controls {
  float: right;
  margin: 0 5px;
}
.field-saveToCloud .controls {
  position: relative;
  top: -3px;
}
.settings form {
  margin: 0;
}
.settings .btn-save {
  margin: 0;
  text-transform: capitalize;
  width: 100%;
}
.settings .register {
  float: right;
  margin-bottom: 20px;
}
