[Unit]
Description=Beekeeper Launcher
After=couchdb.service openntpd.service systemd-remount-fs.service
Requires=couchdb.service

[Service]
Type=simple
Restart=always
RestartSec=10s
ExecStart=/usr/bin/node /root/Hive/Router/server.js

[Install]
WantedBy=multi-user.target
