[Unit]
Description=Hive Beekeeper Launcher
After=couchdb.service
Requires=couchdb.service

[Service]
Type=simple
Restart=always
RestartSec=10s
ExecStart=/usr/bin/node /root/Hive/Beekeeper/server.js

[Install]
WantedBy=multi-user.target
