[Unit]
Description=Hive XbeePython Launcher
After=couchdb.service
Requires=hive-honeycomb.service

[Service]
Type=simple
Restart=always
RestartSec=10s
ExecStart=/usr/bin/python /root/Hive/XbeePython/worker.py

[Install]
WantedBy=multi-user.target
