[Unit]
Description=Hive Redirect Launcher
After=couchdb.service
Requires=couchdb.service

[Service]
Type=simple
Restart=always
RestartSec=10s
ExecStart=/usr/bin/node /root/Hive/Router/redirect_port_80_to_beekeeper.js

[Install]
WantedBy=multi-user.target
