[Unit]
Description=Honeycomb Launcher
After=couchdb.service openntpd.service systemd-remount-fs.service
Requires=couchdb.service

[Service]
Type=simple
Restart=always
RestartSec=15s
ExecStart=/bin/node /root/GroundHive/Honeycomb/server.js

[Install]
WantedBy=multi-user.target


