[Unit]
Description=Mount SD Card
#Before = couchdb.service

[Service]
Type=oneshot
ExecStart=/bin/mount /dev/mmcblk0 /var/lib/hive
[Install]
WantedBy=multi-user.target
