[Unit]
Description=Mount SD Card
#Before = couchdb.service

[Service]
Type=oneshot
ExecStart=/bin/mount /dev/mmcblk0p1 /var/lib/couchdb
[Install]
WantedBy=multi-user.target
