[Unit]
Description=Apitronics Update Manager
After = network.target
Before=couchdb.service apitronicsnetwork.service

[Service]
Type=simple
ExecStart=/bin/sh -c /root/Hive/config/update.sh

[Install]
WantedBy=multi-user.target
