[Unit]
Description=Hive Application Launcher
After=couchdb.service openntpd.service systemd-remount-fs.service
Requires=couchdb.service

[Service]
Type=simple
Restart=always
RestartSec=15s
ExecStart=/usr/local/bin/node /root/Hive/viewController/app.js

[Install]
WantedBy=multi-user.target


