.body {
  margin-top: 40px;
}

.modal {
  display: none;
}

.table th {
  border: none !important;
}

.form {
  
}

.form ul {
  list-style-type: none;
}
  
.form .btn {
  margin: 5px 0px 20px 20px;
}

.timestamp {
  color: #BBB;
}

.field-kind {
  display: none;
}
.field-bee {
  display: none;
}

.settings { 
  float: left;
  width: 20%;
}

table.drives {
  float:right;
  width: 70%;
}

@media (max-width: 979px) {
    
  .navbar-fixed-top {
    margin-bottom: 0px !important;
  }

  table.drives {
    width: 100%;
  }
  
  .body {
    margin-top: 0px;
  }

}
