.breadcrumb-wrapper {
  margin-top: 60px;
}

.modal {
  display: none;
}

.table th {
  border: none !important;
}

.form {

}

.form ul {
  list-style-type: none;
}

.form .btn {
  margin: 5px 0px 20px 20px;
}

.timestamp {
  color: #BBB;
}

.field-kind {
  display: none;
}
.field-bee {
  display: none;
}

.settings {
  float: left;
  width: 20%;
}

table.drives {
  float:right;
  width: 70%;
}

.bee-sensors, .bee-devices {
  table-layout: fixed;
}

.bee-sensors td:last-child,
.bee-devices td:last-child {
  text-align: center;
}

.form-device input[type='radio'] + label {
  display: inline;
  padding: 0 10px;
  position: relative;
  top: 5px;
}

.field-duration {
  display: inline-block;
  margin: 15px 3px 10px 0;
}

.form-device .title {
  margin: 0 0 15px 0;
}

.form-device .controls ul {
  margin: 0;
}

.form-device .controls ul li {
  float: left;
  margin: 0 30px 0 5px;
  text-transform: capitalize;
}

@media (max-width: 979px) {

  .navbar-fixed-top {
    margin-bottom: 0px !important;
  }

  table.drives {
    width: 100%;
  }

  .body {
    margin-top: 0px;
  }

}
